In [1]:
import pandas as pd
import json

In [6]:
with open('allcolor.json') as f:
    data=json.loads(f.read())

In [15]:
len(data['result'][0]['group'])

2

In [27]:
data['result'][0]['group']['1'][1]

{'_id': {'$id': '1047'},
 'name': '印度象牙白',
 'R': '255',
 'G': '239',
 'B': '226',
 'no': 'HM02',
 'group': '1',
 'group_sort': '2',
 'font': '黑'}

In [2]:
df=pd.read_json('allcolor.json')

In [20]:
df1=pd.json_normalize(data['result'][0]['group'],max_level=0)

In [21]:
df1.head()

,1,2
0,"[{'_id': {'$id': '1048'}, 'name': '哥伦比亚绿', 'R'...","[{'_id': {'$id': '1044'}, 'name': '爱琴蓝', 'R': ..."

In [4]:
df[['result']]

                                              result
0  {'_id': {'$id': '8137'}, 'name': '简美色彩', 'sort...
1  {'_id': {'$id': '8138'}, 'name': '近白色', 'sort'...
2  {'_id': {'$id': '8139'}, 'name': '纯净色', 'sort'...
3  {'_id': {'$id': '8140'}, 'name': '柔和色', 'sort'...
4  {'_id': {'$id': '8136'}, 'name': '中性色', 'sort'...
5  {'_id': {'$id': '8141'}, 'name': '深色', 'sort':...